
@media (max-width: 1200px) {
 .container{
    margin-bottom: 5px;
    width: 95%;
 }
 
}

@media (max-width: 992px) {
  .authorLike{
    padding-bottom: 35px;
  }
}

@media (max-width: 768px) {
  .storyBox{
    display: flex;
    flex-wrap: wrap;
  }
  .storyBoxes{
    width: 48%;
  }
}

@media (max-width: 600px) {
 .storyBoxes{
    width: 100%;
 }
}



