*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: auto;
    background-color: white;
}

.container{
    width: 80%;
    margin:100px auto;
}
.storyBox{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 5px;
}

.storyBoxes{
    padding: 10px;
    border: transparent;
    box-shadow: 1px 1px 20px 0px rgb(184, 181, 181);
    background-color: white;
    border-radius: 5px;
}
.storyBoxes:hover{
    box-shadow: 1px 1px 20px 0px rgb(223, 221, 221);
}

.genre{
    margin: 10px;
}
.title a{
    margin: 15px 5px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.story{
    margin: 10px;
    color: #6b7280;
}

.authorLike{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.like{
    font-size: 15px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: red;
    color: white;
}

.headings{
    text-align: center;
}
.headings h2{
    font-size: 40px;
}

#browse{
    text-decoration: none;
    display: block;
    width: 230px;
    margin: 30px auto;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color:  #10b981;
    color: white;
}

.genre{
    width: 80px;
    padding: 5px 7px;
    border-radius: 10px;
    text-align: center;
}