*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: auto;
    background-color: #f9fafb;
}
.container{
max-width: 400px;
margin: auto;
padding: 50px 40px;
box-shadow: 1px 1px 20px rgb(214, 210, 210);
background-color: white;
border-radius: 5px;
}
.username,.password{
    width: 100%;
    margin: 20px 0px;
}
.username input,.password input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
.texts{
    text-align: center;
}

.texts h2{
    font-size: 35px;
}
.texts p{
    font-size: 17px;
}

#login{
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px ;
    color: white;
    font-size: 15px;
    background-color:  #10b981;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.user{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
#account{
    text-decoration: none;
    color: #10b981;
}