*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    background-color: #f9f9f9;
}

.mainContainer{
    width: 85%;
    margin: auto;
    padding: 10px;    
}
.personalLibrary h2{
    font-size: 35px;
}
.personalLibrary p{
    font-size: 18px;
}

.container{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    margin-top: 40px;
}
.container p{
    font-size: 20px;
}
.container a{
    text-decoration: none;
    color: #10b981;
}
