*{
    margin: 0;
    padding: 0;
}
html, body {
    background-color: rgb(248, 250, 252);
    height: auto;
  margin: 0;
  padding: 0;
}


 .navbar{
    height: 80px;
    width: 85vw;
    background-color: white;
    margin: 50px auto;
    display: flex;
    align-items: center;
    box-shadow:0px 1px 20px 0px #b3acac;
    border-radius: 10px;
}

#logo{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color:  #10b981;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15px;
}
li{
    list-style-type: none;
}

.nav1 a{
     margin: 20px;
    padding: 10px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: transparent; 
    font-size: 18px;
    text-decoration: none;
    color: rgba(44, 42, 42, 0.623);
}
.nav2 a{
    margin: 20px;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: transparent;
    font-size: 18px;
    text-decoration: none;
    color: rgba(44, 42, 42, 0.623);
}

.nav1{
    width: 50%;
    display: flex;
    margin-left: 20px;
}

.nav2 {
    width: 25%;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.nav1 a:hover {
  background-color: lightgray;
 border-radius: 10px;
}

.nav2 a:hover {
  background-color: lightgray;
 border-radius: 10px;
}
 










/* laptop small desktop */

@media (max-width:1200px){
    .nav1{
        width: 30vw;
    }
}


/* tablet landscape  */
 @media (max-width: 992px) {
    .nav1 ,.nav2{
        width: 25vw;
    }

}


/* tablet portrait  */
@media (max-width: 768px){
     .nav1 a, .nav2 a{
        margin: 8px;
        font-size: 15px;
     }

     #logo{
        font-size: 35px;
     }
    
}


/* large mobile */

@media (max-width: 576px){
    .nav1, .nav2{
        margin: 5px;
    }

    .nav1 a, .nav2 a{
        font-size: 10px;
        margin: 5px;
    }
}





/* small mobile */
@media (max-width:400px) {
    
}



/* 

