/* 🖥️ Large Desktop	above 1200px	(Default styles — no query needed) */
@media (max-width:1320px) {
    .searchbox{
        height: 33vh;
    }

    .stories{
        height: auto;
    }
    .story{
        height: 55vh;
    }
}

/* 💻 Laptop / Small Desktop	up to 1200px */
	@media (max-width: 1200px) { 
        .links a{
            margin: 5px;
        }
        .links{
            margin-top: 10px;
        }
    }
/* 📱 Tablet (landscape)	up to 992px	 */
@media (max-width: 992px) { 
     .links a{
            margin: 0px;
            padding: 0px;
            font-size: 12px;
        }
        .links{
            margin-top: 1px;
        }
}


/* 📱 Tablet (portrait)	up to 768px */
	@media (max-width: 768px) { 
        .texts h2{
            font-size: 25px;
        }
        .texts p{
            font-size: 15px;
        }

        .boxes a{
            font-size: 15px;
        }
        .boxes p{
            font-size: 10px;
        }
        .story{
            height: 50vh;
        }
     }



/* 📱 Large Mobile	up to 576px	 */
@media (max-width: 576px) {
    .stories{
        display: flex;
        flex-direction: column;
        border: 1px solid red;
    }

    .story{
        width: 60vw;
        height: 45vh;
    }
     .texts p{
            font-size: 20px;
        }

        .boxes a{
            font-size: 20px;
        }
        .boxes p{
            font-size: 10px;
        }
       
}


/* 📱 Small Mobile	up to 400px */
	@media (max-width: 400px) {
        .story{
            height: 50vh;
        }

        .texts h2{
            font-size: 25px;
            margin-left: 10px;
        }
        .texts p{
            font-size: 15px;
            margin-left: 10px;
        }
        .texts{
            text-align: start;
        }
     }