*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
}

.container{
    width: 400px;
    margin: 100px auto;
    padding: 70px 20px;
    box-shadow: 1px 1px 20px 0px rgb(129, 127, 127);
    background-color: white;
    border-radius: 5px;
}

.texts{
    text-align: center;
    line-height: 30px;
    
}
.texts h2{
    font-size: 35px;
}

.username, .password,.email{
    padding: 15px;
}
.username input,.password input,.email input{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

#signup{
    display: block;
    margin: 20px auto;
    font-size: 18px;
    padding: 7px 130px;
    color: white;
    background-color: #10b981;
    cursor: pointer;
}

.sign{
    text-align: center;
    font-size: 18px;
}

.sign a{
    text-decoration: none;
    color: #10b981;
}

