
.storyboard{
     background-color: white;
    height: auto;
    width: 85vw;
     border: 1px solid rgb(158, 154, 154);
    margin: 30px auto;
     box-shadow: -1px 1px 7px 0px rgb(68 65 65);
}

.storyboard li{
    height: 25px;
    width: 70px;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    display: flex;
    margin: 60px 0px 0px 35px;
}

.like{ 
    background-color: red;
    height: 30px;
    width: 50px;
    cursor: pointer;
    color: white;
    margin-left: 40px;
    box-shadow: -1px 1px 7px 0px rgb(68 65 65);
} 

#Read{
    background-color:#10b981;
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: white;
    margin-left: 20px;
    box-shadow: -1px 1px 7px 0px rgb(68 65 65);;
}

.storyboard article{
    padding: 20px;
    font-size: 20px;
    color: rgb(53, 51, 51);
}

.storyboard h1{
    font-size: 40px;
    margin: 30px 0px 20px 50px;
}
.storyboard p{
    font-size: 22px;
    margin: 10px 0px 0px 50px;
}

.storyboard hr{
    margin: 20px 0px;
}

#direction{
    text-decoration: none;
    font-size: 20px;
    margin-left :40px;;
}